<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="/">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">
        <div class="message">
            {% with messages = get_flashed_messages() %}
                {% if messages and 'successful' in messages[0] %}
                    <p style="color: green">{{ messages[0] }}</p>
                {% else %}
                    <p style="color: red">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
        </div>
        <div class="signup">
        <button type="submit">Log In</button>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </form>
</body>
</html>
