<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Sign up</h1>
        <div class="input-form">
            <form method="POST" action="/signup">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter your email">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter your password">
                <div class="message">
                    {% with messages = get_flashed_messages() %}
                        {% if messages and 'successful' in messages[0] %}
                            <p style="color: green">{{ messages[0] }}</p>
                        {% else  %}
                            <p style="color: red">{{ messages[0] }}</p>
                        {% endif %}
                    {% endwith %}
                </div>
                <input type="submit" value="Sign up">
            </form>
        </div>
        <div class="signup-login">
            <p>Already have an acount?</p>
            <a href="/">Login</a>
        </div>
    </div>
    </body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div class="input-form">
            <form method="POST" action="/">
                <label for="username">User:</label>
                <input type="text" name="username" placeholder="Enter your username">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter your password">
                <div class="message">
                    {% with messages = get_flashed_messages() %}
                        {% if messages and 'successful' in messages[0] %}
                            <p style="color: green">{{ messages[0] }}</p>
                        {% else %}
                            <p style="color: red">{{ messages[0] }}</p>
                        {% endif %}
                    {% endwith %}
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="signup-login">
            <p>Don't have an account?</p>
            <a href="/signup">Sign up</a>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="/signup">
        <h3>Create a new account</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">
        <!-- <div class="message">
            {% with messages = get_flashed_messages() %}
                {% if messages and 'successful' in messages[0] %}
                    <p style="color: green">{{ messages[0] }}</p>
                {% else %}
                    <p style="color: red">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
        </div> -->
        <div class="signup">
            <button type="submit" onclick="registerUser()">Sign up</button>
        </div>
    </form>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io();
        function registerUser() {
            var username = document.getElementById("username").value;
            if (username) {
                socket.emit('new_user', {username: username});
            }
        }
    </script>
</body>
</html>
